<section class="page-section-hero section-products">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="page-title">
          Products
        </h1>
      </div>
    </div>
    <app-products-filter (onChangeFilter)="changeProductList($event)"
                         (onChangeLoading)="changeLoader($event)">
    </app-products-filter>
    <app-products-catalog [productsList]="productsList"></app-products-catalog>
    <app-fullscreen-loader [isLoading]="isLoading"></app-fullscreen-loader>
  </div>
</section>
