<header class="app-header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <a routerLink="/" class="logo">LOGO</a>
      </div>
      <div class="col-auto">
        <div class="d-flex align-item-center">
          <div class="auth-control">
            <button mat-button (click)="logout()">Logout</button>
          </div>
          <div class="basket">
            <a routerLink="/basket" mat-icon-button aria-label="Basket">
              <mat-icon [matBadge]="basketLength" matBadgeSize="small" matBadgeColor="warn">shopping_basket</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
