<div class="alert-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 col-lg-6 col-xl-5 mx-auto">
        <div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
          <div class="alert__message" [innerHTML]="alert.message"></div>
          <div class="close-alert">
            <button (click)="removeAlert(alert)" mat-icon-button aria-label="Close alert">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
