.banner {
  position: relative;
  overflow: hidden;
  padding: 125px 0;
  display: flex;
  align-items: center;
  z-index: 5;

  @media (min-width: 768px) {
    padding: 0;
    height: calc(100vh - 70px);
    max-height: 1080px;
  }

  .page-title {
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .page-title,
  .page-description {
    color: #fff;
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }
}
