<div class="banner banner--nail">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-lg-8">
        <h1 class="page-title">
          Main title
        </h1>
        <div class="page-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur in ipsa officiis praesentium, rerum
          tenetur. Nemo numquam repellendus rerum? Minima.
        </div>
        <a routerLink="/products" mat-flat-button color="primary">Button</a>
      </div>
    </div>
  </div>
  <div class="banner-image">
    <img src="assets/image/banner/home-nail.jpg" alt="">
  </div>
</div>
