<div class="products-preview">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="products-preview-header">
          <h2 class="page-title">
            Title
          </h2>
          <a routerLink="/products" mat-flat-button color="primary">View All</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        Product item
      </div>
      <div class="col-sm-6 col-lg-4">
        Product item
      </div>
      <div class="col-sm-6 col-lg-4">
        Product item
      </div>
    </div>
  </div>
</div>
