:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  &.is-auth-page {
    padding-top: 0;
    justify-content: center;
    align-items: center;
  }
}
